{
    "quota": {
        "test": {
            "browser": [
                { "name": "chrome", "count": 5, "versions": ["latest"] },
                { "name": "firefox", "count": 5, "versions": ["latest"] }
            ]
        }
    }
}